<div class="container">
    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <!-- {{ user | json}} -->
            <div class="card rounded shadow-sm">
                <div class="card-body">

                    <div class="m-2 text-center">
                        <img 
                        class="img-fluid" 
                        style="width: 220px;"
                        src="/assets/images/signup.svg" 
                        alt="login svg">
                    </div>
                    
                    <h3 class="text-center">Sign Up Here</h3>

                    <form #signupForm = "ngForm"  
                    action="#!" 
                    (ngSubmit)="formSubmit($event,signupForm)"
                    >

                        <!-- <div class="mb-3 alert alert-danger" [hidden]="signupForm.valid || !signupForm.touched">
                            Form is not Valid
                        </div> -->
                        <!-- name field -->
                        <div class="mb-3">
                                <label for="name">Username</label>

                                <input 
                                type = "text" 
                                class = "form-control" 
                                placeholder = "Enter here" 
                                id = "name" 
                                name = "name"
                                required="true"
                                [(ngModel)] = "user.name"
                                #name="ngModel"  
                                />
                                <span [hidden]="name.valid || !name.touched" class="text-danger mt-2 mx-2">Name is required !</span>
                        </div>

                        <!-- email field -->
                        <div class="mb-3">
                                <label for="email">Email</label>
                                <input 
                                type="email" 
                                class="form-control" 
                                placeholder="Enter here" 
                                id="email"
                                name="email"
                                [(ngModel)] = "user.email"
                                #emailField="ngModel"
                                required
                                />
                                <span [hidden]="emailField.valid || !emailField.touched" class="text-danger mt-2 mx-2">Email is required !</span>
                        </div>

                        <!-- password field -->
                        <div class="mb-3">
                                <label for="password">New Password</label>
                                <input 
                                type="password" 
                                class="form-control" 
                                placeholder="Enter here" 
                                id="password"
                                name="password"
                                [(ngModel)] = "user.password"
                                #password="ngModel"
                                />
                                <span [hidden]="password.valid || !password.touched" class="text-danger mt-2 mx-2">Password is required !</span>
                        </div>

                          <!-- Confirm Password field -->
                        <div class="mb-3">
                            <label for="confirmPassword">Confirm Password</label>
                            <input
                            type="password"
                            class="form-control"
                            placeholder="Enter here"
                            id="confirmPassword"
                            name="confirmPassword"
                            [(ngModel)]="user.confirmPassword"
                            #confirmPassword="ngModel"
                            required
                            />
                            <span [hidden]="confirmPassword.valid || !confirmPassword.touched" class="text-danger mt-2 mx-2">Confirm Password is required!</span>
                            <!-- Error message for password mismatch -->
                            <div [hidden]="password.value === confirmPassword.value || !confirmPassword.touched" class="text-danger mt-2 mx-2">Passwords do not match!</div>
                        </div>

                        <!-- gender button -->
                        <div class="mb-3">
                            <label for="" class="d-block">Gender</label>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="gender">
                                  Male
                                </label>
                                <input 
                                class="form-check-input" 
                                type="radio" 
                                name="gender" 
                                id="male"
                                checked
                                [value]="'male'"
                                [(ngModel)] = "user.gender"
                                />
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="gender">
                                    Female
                                </label>
                                <input 
                                class="form-check-input" 
                                type="radio" 
                                name="gender" 
                                id="female"
                                [value]="'female'"
                                [(ngModel)] = "user.gender"
                                />
                            </div>
                        </div>

                        <div class="mb-3">
                                <label for="about">Write about yourself</label>
                                <textarea 
                                    name="about" 
                                    id="about" 
                                    rows="5" 
                                    class="form-control"
                                    name="about"
                                    [(ngModel)] = "user.about"
                                    >
                                </textarea>
                        </div>

                        <div class="mb-3 text-center">
                            <button [disabled]="loading" type="submit" class="btn btn-success btn-sm ">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                <span *ngIf="!loading">Register</span>
                                <span *ngIf="loading">Please Wait!</span>
                            </button>
                            <button type="button" (click)="resetForm(signupForm)" class="btn btn-secondary btn-sm ms-2">Reset</button>
                        </div>

                        <!-- <div class="mb-3 text-center d-flex justify-content-center">
                            <button class="btn btn-success btn-xs flex-grow-1 ">Register</button>
                            <button class="btn btn-secondary btn-xs  ms-2 flex-grow-1">Reset</button>
                        </div> -->

                        <div class="text-center">
                            <p class="mb-1">Already have account ? <a [routerLink]="'/login'">Login Here </a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
