<div class="row mt-4">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover shadow-sm border">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Discounted Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Live</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let product of productsResponse?.content; let i = index">
            <td>
              {{i+1}}  
            </td>
            <td>
                {{product.title}}
            </td>
            <td>
                {{product.quantity}}
            </td>
            <td>
                {{product.price}}
            </td>
            <td>
                {{product.discountedPrice}}
            </td>
            <td>
                <span class="badge "[ngClass]="{'text-bg-success': product.stock,'text-bg-danger': !product.stock}">{{product.stock?'In Stock':'Out of Stock'}}</span>
            </td>
            <td>
                <span class="badge "[ngClass]="{'text-bg-success': product.live,'text-bg-danger': !product.live}">{{product.live?'Live':'Not Live'}}</span>
            </td>
            <td>
                {{product.category.title}}
            </td>
            <td>
                <button class="btn btn-primary btn-sm">Update</button>
                <button class="btn btn-danger btn-sm ms-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
