<!-- product-form.component.html -->
<!-- {{ product | json }} -->

<div class="container mt-2">
  <div class="card shadow-sm form-control border-dark rounded-3 mt-2 mb-3">
    <div class="card-body">
      <div class="container text-center">
        <i-tabler class="custom-icon-size" name="script-plus"></i-tabler>
        <p class="h3 text-center">Add Product</p>
      </div>
      <form #productForm="ngForm" (ngSubmit)="onSubmit($event, productForm)">
        <div class="form-group mb-2">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control mt-2"
            id="title"
            [(ngModel)]="product.title"
            name="title"
            #titleField="ngModel"
            required
          />
          <span
            [hidden]="titleField.valid || !titleField.touched"
            class="text-danger mt-2 mx-2"
          >
            Title is required!
          </span>
        </div>

        <div class="form-group mb-2">
          <label class="mb-2" for="description">Description</label>
          <!-- <textarea
            class="form-control mt-2"
            id="description"
            [(ngModel)]="product.description"
            name="description"
            #descriptionField="ngModel"
            required
          ></textarea> -->
          <quill-editor
            classes="form-control border-dark"
            [style]="{ height: '180px', width: '100%' }"
            [placeholder]="'Enter Description Here'"
            [(ngModel)]="product.description"
            #descriptionField="ngModel"
            name="description"
          ></quill-editor>

          <!-- [config]="editorConfig" (onContentChanged)="handleContentChange($event)" -->

          <span
            [hidden]="descriptionField.valid || !descriptionField.touched"
            class="text-danger mt-2 mx-2"
          >
            Description is required!
          </span>
        </div>

        <div class="form-group mb-2">
          <label for="quantity">Quantity</label>
          <input
            type="text"
            class="form-control mt-2"
            id="quantity"
            [(ngModel)]="product.quantity"
            name="quantity"
            #quantityField="ngModel"
            required
          />
          <span
            [hidden]="quantityField.valid || !quantityField.touched"
            class="text-danger mt-2 mx-2"
          >
            Quantity is required!
          </span>
        </div>

        <div class="form-group mb-2">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control mt-2"
            id="price"
            [(ngModel)]="product.price"
            name="price"
            #priceField="ngModel"
            required
          />
          <span
            [hidden]="priceField.valid || !priceField.touched"
            class="text-danger mt-2 mx-2"
          >
            Price is required!
          </span>
        </div>

        <div class="form-group mb-2">
          <label for="discountedPrice">Discounted Price</label>
          <input
            type="text"
            class="form-control mt-2"
            id="discountedPrice"
            [(ngModel)]="product.discountedPrice"
            name="discountedPrice"
            #discountedPriceField="ngModel"
            required
          />
          <span
            [hidden]="
              discountedPriceField.valid || !discountedPriceField.touched
            "
            class="text-danger mt-2 mx-2"
          >
            Discounted Price is required!
          </span>
        </div>

        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="live"
            [(ngModel)]="product.live"
            name="live"
          />
          <label class="form-check-label" for="live">Live</label>
        </div>

        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="stock"
            [(ngModel)]="product.stock"
            name="stock"
          />
          <label class="form-check-label" for="stock">Stock</label>
        </div>

        <!-- CATEGORY SELECT BOX -->
        <div class="form-group mb-2">
          <label for="category">Category</label>
          <select
            class="form-select mt-2"
            id="category"
            [(ngModel)]="product.category"
            name="category"
            required
            #categoryField="ngModel"
            [compareWith]="compareFn"
          >
            <option
              [ngValue]="{
        title : 'No Category',
        description : '',
        coverImage : '',
        categoryId : '',
      }"
              
              selected
            >
              -----select category-----
            </option>
            <option *ngFor="let cat of categories" [ngValue]="cat">
              {{ cat.title }}
            </option>
          </select>
        </div>

        <!-- PRODUCT IMAGE  -->

        <div class="form-group mb-2">
          <label for="productImageName">Product Image</label>
          <div class="text-center my-3" *ngIf="imageData.file">
            <img
              style="height: 250px; width: auto"
              [src]="imageData.previewImageUrl"
              alt="preview product image"
            />
          </div>
          <input
            type="file"
            class="form-control-file mx-3"
            id="productImageName"
            [(ngModel)]="product.productImageName"
            name="productImageName"
            #productImageNameField="ngModel"
            accept="image/*"
            (change)="imageFieldChanged($event)"
          />
          <button
            type="button"
            (click)="resetImage()"
            class="btn btn-secondary btn-sm ms-2"
          >
            Reset Image
          </button>

          <span
            [hidden]="
              productImageNameField.valid || !productImageNameField.touched
            "
            class="text-danger mt-2 mx-2"
          >
            Product Image is required!
          </span>
        </div>

        <div class="container text-center mt-3">
          <button type="submit" class="btn btn-primary btn-md">
            Add Product
          </button>
          <button
            type="reset"
            (click)="resetForm(productForm)"
            class="btn btn-secondary btn-md ms-2"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
